### IntelliJ IDEA ###
.idea/*
!.idea/codeStyles
*.iml

### Gradle ###
.gradle
build

example-working-directory
example-dynamic-api
example-dynamic-dev
example-dynamic-local

core
dynamic-api
gitlab-container-home
