# This is to tell Lombok that this is the root directory
config.stopBubbling = true

lombok.fieldDefaults.defaultPrivate = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Autowired
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
